# Compromise ranking built with Borda count and Copeland ranking methodologies

Importing the necessary libraries.

In [1]:
import numpy as np
import pandas as pd

Load the rankings of 10 evaluated alternatives provided by six different MCDM methods: SECA, COCOSO, ARAS, COPRAS, MAIRCA and MARCOS. The data are taken from a numerical example from the article Ecer, F. (2021). A consolidated MCDM framework for performance assessment of battery electric vehicles based on ranking strategies. Renewable and Sustainable Energy Reviews, 143, 110916, on which this implementation was performed.

In [2]:
data = pd.read_csv('rankings.csv', index_col ="Ai")

In [3]:
data

     SECA  COCOSO  ARAS  COPRAS  MAIRCA  MARCOS
Ai
A1      7       8     7       6       7       7
A2      4       7     5       7       5       4
A3      8       9     8       8       9       8
A4      1       4     1       1       1       1
A5      2       2     2       4       3       2
A6      3       1     4       3       2       3
A7     10       5    10       9       8      10
A8      6       3     6       5       4       6
A9      9      10     9      10      10       9
A10     5       6     3       2       6       5

Prepare a list with the names of the MCDM methods.

In [4]:
methods = list(data.columns)

Prepare Borda count ranking.

In [5]:
#ranking of Borda method
borda_df = pd.DataFrame()

for col in methods:
    borda_df[col] = data[col].max() - data[col]

borda_df['Total'] = borda_df.sum(axis = 1)
rank = np.argsort(-borda_df['Total'])
borda_df['Final rank'] = np.argsort(rank) + 1

Prepare Copeland method ranking based on the result of Borda count.

In [6]:
#ranking of Copeland method
copeland_df = pd.DataFrame()
copeland_df['Wins'] = borda_df['Total']

losses = np.zeros(len(borda_df))
el = 0
for i, j in borda_df['Total'].iteritems():
    losses[el] = borda_df['Total'].sum() - j
    el += 1
    
copeland_df['Losses'] = losses
copeland_df['Final score'] = copeland_df['Wins'] - copeland_df['Losses']
rank = np.argsort(-copeland_df['Final score'])
copeland_df['Final rank'] = np.argsort(rank) + 1

Display the final compromise ranking (Final Rank). The results are consistent with the numerical example presented in the reference article in Table 6 on page 10.

In [7]:
copeland_df

     Wins  Losses  Final score  Final rank
Ai
A1     18   252.0       -234.0           7
A2     28   242.0       -214.0           6
A3     10   260.0       -250.0           8
A4     51   219.0       -168.0           1
A5     45   225.0       -180.0           2
A6     44   226.0       -182.0           3
A7      8   262.0       -254.0           9
A8     30   240.0       -210.0           5
A9      3   267.0       -264.0          10
A10    33   237.0       -204.0           4

Save the results in a CSV file.

In [8]:
copeland_df.to_csv('compromise_ranking.csv')